.sidebar {
  width: 18%;
  height: calc(100vh - 60px);
  padding-top: 20px;
  border-right: solid 1px rgb(238, 234, 234);
}

.new-manual-button{
  margin-left: 20px;
}

.index {
  padding-top: 40px;
}

