.sidebar {
  width: 18%;
  /* height: calc(100vh - 60px); */
  padding-top: 20px;
  border-right: solid 1px rgb(235, 231, 231);
}

.new-manual-button {
  margin-left: 20px;
}

.index {
  padding-top: 40px;
}

.category-plus {
  margin-left: 15px;
}
